:root {
  --green: rgba(29, 97, 84, 1);
  --green-opacity-zero: rgba(29, 97, 84, 0);
  /*   --pane-padding: 5px 42px; */
}

body {
  background-color: floralwhite;
  min-height: 100vh;
  margin: auto;
}
header {
  margin: 50px auto;

  max-width: 1140px;
}
main {
  margin: auto;
  max-width: 1140px;
}

section {
  margin: 50px 50px;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: #b1663c;
}

.material-symbols-outlined {
  font-size: inherit;
}
/* container EDIT */
.containerEdit {
  background-color: black;
  color: white;
  display: none;
  justify-content: center;
  align-items: center;
}
.displayed {
  display: flex;
}
.containerEdit * {
  margin: 8px;
}
.containerEdit button {
  border-radius: 20px;
  padding: 7px 12px;
  cursor: pointer;
}

/* BUTTON MODIFIER */
.modifier {
  display: none;
}
/* CATEGORY BUTTONS */
.categoryContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.categoryContainer button {
  cursor: pointer;
  font-family: "Syne";
  background-color: rgba(29, 97, 84, 0);
  color: var(--green);
  border: var(--green) 1px solid;
  height: 30px;
  min-width: 80px;
  border-radius: 25px;
  margin: 5px;
  transition: background-color 0.7s ease, color 0.3s ease;
}

.categoryContainer button:hover {
  background-color: var(--green);
  color: floralwhite;
}

.categoryContainer button:focus {
  background-color: var(--green);
  color: floralwhite;
}
/* END CATEGORY BUTTONS */
.titreEtModifier {
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modifier {
  margin-left: 10px;
  cursor: pointer;
}

footer {
  height: 60px;
  background-color: white;
  display: flex;
  flex-direction: row-reverse;
}
