.modal {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
}

.modalContent {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: white;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 450px;
  max-width: calc(100vw - 20px);
  min-height: calc(100vh - 50%);
  max-height: calc(100vh - 20px);
  text-align: center;
  font-size: larger;
}

.modalContent .close {
  padding: 15px 20px 0 0;
  text-align: end;
  font-weight: bold;
  cursor: pointer;
}
.modalContent h3 {
  margin: 10px;
}

.modalContent .categoryContainer {
  display: none;
}

/*  GALLERY DES PROJETS */
.modalContent .modalGallery {
  display: grid;
  width: auto;
  margin: 0 70px;
  padding: 30px 0;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-column-gap: 5px;
  grid-row-gap: 10px;
  border-bottom: 1px black solid;
}
.modalContent img {
  width: 100%;
}
.modalGallery figure {
  position: relative;
}
.modalGallery figure:hover .move {
  display: block;
}
.modalGallery .material-symbols-outlined {
  position: absolute;
  top: 5px;
  background-color: black;
  color: white;
  cursor: pointer;
}
.modalGallery figure .trash {
  right: 5px;
}
.modalGallery figure .move {
  display: none;
  right: 25px;
}

.modalGallery figcaption {
  font-size: 10px;
  text-align: left;
}

/* MODAL BUTTONS AND A */

.modalContent button {
  font-weight: 700;
  color: white;
  background-color: #1d6154;
  margin: 20px auto;
  width: 210px;
  height: 40px;
  text-align: center;
  border-radius: 60px;
}

.modalContent a {
  color: red;
  padding-bottom: 50px;
  font-size: small;
}
